# Root editor config
root = true

# Common settings
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4
max_line_length = 120

# Python specific settings
[*.py]
max_line_length = 120

# JSON specific settings
[*.json]
insert_final_newline = false
indent_size = 2
